{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@images": "./src/assets/images",
          "@styles": "./src/styles"
        }
      }
    ]
  ]
}
